data*/
output*/
videos/
.vscode/
.vscode*
logs/
aligned/*
aligned/alpha/
aligned/beta/
__pycache__/
.env
server/plugins/SkinsRestorer/cache/*
server/plugins/SkinsRestorer/players/*
server/plugins/SkinsRestorer/skins/*.playerskin
server/plugins/SkinsRestorer/recommendations.json
server/episode-manager-plugin/target/*
postprocess/__pycache__/
compose_configs/
docs/build/
docs/source/_build/
node_modules/